/* ProgressBar.module.css */
.progressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 20px 0;
  position: relative;
}

.progressBarContainer {
  position: relative;
  width: 80%;
  height: 2px;
  background-color: #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
}

.progressBar {
  position: absolute;
  height: 100%;
  background-color: #05b7d1;
  width: 0;
  transition: width 0.5s ease;
}

.step {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  color: #151111;
  z-index: 1;
  transition: background-color 0.3s ease;
}

.completed {
  background-color: #05b7d1;
}

.steps {
  display: flex;
  justify-content: space-between;
  width: 80%;
  position: absolute;
  top: -10px; /* Adjusted to center the steps on the progress bar */
  left: 10%;
}
